body{
    scroll-behavior: smooth;
}

.logo, .card-title{
    font-family: 'Oswald', sans-serif;
    margin-left: 1em;
}

.cafe-img{
    height: 500px !important;
}

.card-content{
    padding-bottom: 0;
}

.card-reveal{
    margin-top: 2em;
}

.carousel-img{
    height: 300px;
    width: 400px !important;
}

.carousel{
    margin: 1em;
    width: 80vw !important;
}

form{
    margin: 1em 0;
    padding: 1em;
}

@media screen and (max-width: 425px){
    .logo{
        font-size: 1.5em !important;
    }
}